
  .navbar{
    justify-content: space-between;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
   width: 100%; 

  }

  .ankor a{
    color:white;
    text-decoration: none;
  }

  span{
    padding-right: 2rem;
    color:white;    

  }
  
  li a {
    display: block;
    color:#666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  li a:hover:not(.active) {
    background-color:#4CAF50;
    color:white;
  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: #5b8eee;
    color: white;
    font-weight: 300;
  }
  .span1{
    padding-right: 12em;
    position: absolute; 
    font-size: medium;
  }
  
  .text1 {
    background-color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family:arial;
    font-size:15px;
    border-radius:4px;
    height:500px;
    width:50%;
    margin-left: 350px;
    border:none;
    }  
    
 

 .header{
   text-align: center;
 } 

 
 .grid-container{
   display: grid;

 }

 mat-card-title{
   font-size:20;
 }
  
 .mat-toolbar.mat-primary {
  background:#0F9D58;
  color: #fff;
}

.icon{
      margin-left: 350px;
      margin-bottom: 125px;
}

