<mat-toolbar color="primary" class="navbar">
  <div>Omniwyse</div>
  <div class="ankor">
    <span>Hi, {{name}}</span>
    <span><a routerLink ="/notification">Create</a></span>
    <span><a routerLink ="/scheduled">Scheduled</a></span>
    <span><a routerLink ="/about">About</a></span>
    <span style="float:right"><a routerLink ="" (click)="logout()">Logout</a></span>
  </div>
</mat-toolbar>
<br>
<h1>{{message}}</h1>
<h2></h2>
        <ul *ngFor="let post of postList" class="text1">
          <div><img [innerHTML] [src]="post.image">
          </div>
               <h1>{{post.title}}</h1>
                <b>{{post.date | date:'medium'}}</b>
          <div>
            <br>
                <div [innerHTML]="post.subject"></div><br>
          </div>
          
            <button (click)="goToNotification(post._id)" mat-button color="primary" class="btn">View Notification</button>
        
        </ul>