<mat-toolbar color="primary" class="navbar">
  <div>Omniwyse</div>
  <div class="ankor">
    <span><a href="/admin">Home</a></span>
    <span><a routerLink ="/notification">Create</a></span>
    <span><a href="/admin">About</a></span>
    <span style="float:right"><a href="#logout">log out</a></span>
  </div>
</mat-toolbar>
<br>
        <ul *ngFor="let post of postList" class="text1">
          <div><img [innerHTML] [src]="post.image">
          </div>
               <h1>{{post.title}}</h1>
                <b>{{post.date}}</b>
          <div>
               <b>Subject:</b> 
                <div [innerHTML]="post.subject"></div><br>
                 <b>Description:</b> 
                <div [innerHTML]="post.description"></div><br>
                <b>Link:</b><div [innerHTML] ="post.link"></div><br>
                <a href="/view-notification/344">Click to open</a>
          </div>
        <!--  <mat-card-actions>
            <button (click)="goToNotificationView()" mat-button color="primary">View Notifcaiton</button>
          </mat-card-actions>  -->
        </ul>
  
     <router-outlet></router-outlet>