<h1>Edit Announcement</h1>
<body>

  <form [formGroup]="editForm">
    <div class="Divtags">
      <h1>Edit Tags</h1>
      <select  formControlName="tags" id="tags">
     <option value="" disabled>Select the tag</option> 
     <option value="interns">Interns</option>
     <option value= "employees">Employees</option>
     <option value="techLead">Tech Lead</option>
     </select>
     <br>
     <br>
     <br>
      <h2> Selected:</h2>
     <div class="listTags">
 <p *ngFor="let tag of tagList">{{tag}}</p><br><br>
     </div>
     <div class="tagBtn">
      <input type="button" value="Cancel" id="tagBtn2" (click)= "cancel()" >
     <input type  ="button" value = "Add tag" (click)="addToTags()" style="color:white;background-color:#0F9D58;" id="tagBtn3">
    </div>
   </div>
    <div class="container">
  <div class="row">
    <div class="col-25">
      <label for="fname">Title</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname"  formControlName="title">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Subject</label>
    </div>
    <div class="col-75">
      <input type="text" id="lname"  formControlName="subject" >
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Description</label>
    </div>
    <div class="col-75">
      <textarea id="subject"  style="height:200px" formControlName="description" ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="urlname">Link</label>
    </div>
    <div class="col-75">
      <input type="text" id="url" formControlName="link" >
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="country">Image</label>
    </div>
    <div class="col-75">
      <input type="file" id="inp" (change)="onFileSelected($event)" >
    </div>
  </div>
  <div class="row">
    <input type="datetime-local" id="schedule" formControlName="date">
    <input type="button" value="Update"  id="schbtn" (click)="editScheduled()">
    </div>
  </div>
  </form>
</body>

