<mat-toolbar color="primary" class="navbar">
    <div>Omniwyse</div>
    <div class="ankor">

       <span>Hi,{{name}}</span>
      <span><a href="/about">About</a></span>

      <span>Hi,{{name}}</span>
      <span><a routerLink ="/about">About</a></span>

      <span style="float:right"><a href="" (click)="logout()">log out</a></span>
    </div>
  </mat-toolbar>
  <br>
<h1>{{message}}</h1>

        <ul *ngFor="let post of postList" class="text1">
          <div><img [innerHTML] [src]="post.image">
          </div>
               <h1>{{post.title}}</h1>
                <b>{{post.date | date:'medium'}}</b>
          <div>
               <br>
                <div [innerHTML]="post.subject"></div><br>
          </div>
          <mat-card-actions>
            <button (click)="goToNotification(post._id)" mat-button color="primary">View Notification</button>
          </mat-card-actions> 
        </ul>
  
     <router-outlet></router-outlet>
=======
  <h1>{{message}}</h1>
  <h2></h2>
          <ul *ngFor="let post of postList" class="text1">
            <div><img [innerHTML] [src]="post.image">
            </div>
                 <h1>{{post.title}}</h1>
                  <b>{{post.date | date:'medium'}}</b>
            <div>
              <br>
                  <div [innerHTML]="post.subject"></div><br>
            </div>
            
              <button (click)="goToNotification(post._id)" mat-button color="primary" class="btn">View Notification</button>
          
          </ul>
