button{
    background: rgb(13, 144, 243);
    border-color: transparent;
    color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 100px;
     height: 50px ;
     font-size: medium;
}
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: #5b8eee;
    color: white;
    font-weight: 300;
  }