<body>
    <h1>Announcement Details</h1>
    <h2></h2>
              <div><img [innerHTML] [src]="postList.image">  </div>
                <br>
                <div class="content">
                  <p>{{postList.title}}</p><br>
                  <b>Created on </b><br>
                  <div>{{postList.date| date:'medium'}}</div><br>
                  <b>Subject </b><br>
                    <div [innerHTML]="postList.subject"></div><br>
                    <b>Description </b><br>
                    <div [innerHTML]="postList.description"></div><br>
                    <b>Link </b> <br>
                    <div [innerHTML]="postList.link"></div><br>
                  </div>
              
              
      </body>
