<nav>
<img src= 'assets/omniwyse.png' alt="Omniwyse Announcements">
<input type="button"  value ="CONTACT US" (click)="contact()">
</nav>
<br>
<img src="assets/about.jpg" alt="About image" id="about"> 
<p id="text" >Omniwyse helps Companies become innovative leaders by delivering software teams on demand. We help you – choose the right technologies to invest in,
 decide on the best architecture and processes to follow, 
 and oversee the successful delivery of the software products.
 We focus on building a strong relationship of trust, with a focus on communication and consistency,
  providing a long-term solution that enables business growth.</p>
<br>
<span>Omniwyse Announcements</span>
<br>
<br>
<p id="text">Omniwyse Announcements is a web application where HR post the announcements or schedule 
  the announcements regarding Omniwyse technologies. All the employees can view the announcements 
  in the web portal or mobile application.</p>
<br>
