#text{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 900px;
    justify-content: center;
    margin-left: 200px;

}

nav{
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type=button]{
    float: right;
    margin-top: 11px;
    margin-right: 40px;
    background-color:#4285F4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#about{
    height: 300px;

}

span{
    margin-left: 200px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}